### Import packages

In [ ]:
import pandas as pd
import requests
import json
import os
import time
import numpy as np
import sqlalchemy
import psycopg2

### Load CSV and create data frame

In [7]:
csv_file_path = '/Users/p/Downloads/neueFische/crime_nerds/Crime_Data/NYPD_Complaint_Data_Historic_20240424.csv'

crime_frame = pd.read_csv(csv_file_path)

/var/folders/nj/j2fgh2k95cq716x6zcd11chc0000gn/T/ipykernel_16296/840222952.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  crime_frame = pd.read_csv(csv_file_path)

### Data frame output

In [8]:
crime_frame

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,25640826H10611,12/05/2006,10:38:00,NaN,(null),NaN,12/05/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO QUEENS NORTH,(null),25-44,WHITE HISPANIC,M
1,16631501H8965,08/25/1973,12:15:00,NaN,(null),NaN,05/29/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO MAN NORTH,(null),45-64,BLACK,F
2,11118212H8714,04/22/2006,16:50:00,NaN,(null),NaN,04/22/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO BKLYN SOUTH,(null),45-64,BLACK,M
3,23471265H9399,07/20/2006,22:37:00,NaN,(null),NaN,07/20/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO BKLYN SOUTH,(null),18-24,BLACK,M
4,24565927H10142,04/14/2006,02:37:00,NaN,(null),NaN,04/14/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO BKLYN NORTH,(null),45-64,BLACK,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8914833,272431385,08/01/2023,03:45:00,08/01/2023,03:50:00,105.0,08/04/2023,341,PETIT LARCENY,321.0,...,U,NaN,40.697605,-73.727707,"(40.697605, -73.727707)",PATROL BORO QUEENS SOUTH,(null),65+,BLACK,M
8914834,273033152,08/16/2023,21:00:00,08/16/2023,21:05:00,105.0,08/17/2023,344,ASSAULT 3 & RELATED OFFENSES,101.0,...,F,NaN,40.718172,-73.736134,"(40.71817168981014, -73.73613374614645)",PATROL BORO QUEENS SOUTH,(null),25-44,BLACK,F
8914835,270041815,06/19/2023,01:50:00,06/19/2023,04:30:00,105.0,06/19/2023,107,BURGLARY,223.0,...,U,NaN,40.663804,-73.731601,"(40.663804, -73.731601)",PATROL BORO QUEENS SOUTH,(null),45-64,ASIAN / PACIFIC ISLANDER,M
8914836,273151416,08/19/2023,15:37:00,08/19/2023,15:52:00,113.0,08/19/2023,126,MISCELLANEOUS PENAL LAW,117.0,...,F,NaN,40.697672,-73.750627,"(40.697672, -73.750627)",PATROL BORO QUEENS SOUTH,(null),UNKNOWN,UNKNOWN,M
8914837,276267757,10/19/2023,01:00:00,10/19/2023,01:25:00,105.0,10/19/2023,578,HARRASSMENT 2,638.0,...,U,NaN,40.735556,-73.710582,"(40.735556, -73.710582)",PATROL BORO QUEENS SOUTH,(null),45-64,ASIAN / PACIFIC ISLANDER,F

### Checking created data frame

In [9]:
print(crime_frame.shape)
print(crime_frame.info())
crime_frame.head()

(8914838, 35)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8914838 entries, 0 to 8914837
Data columns (total 35 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         object
 1   CMPLNT_FR_DT       object
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       object
 4   CMPLNT_TO_TM       object
 5   ADDR_PCT_CD        float64
 6   RPT_DT             object
 7   KY_CD              int64
 8   OFNS_DESC          object
 9   PD_CD              float64
 10  PD_DESC            object
 11  CRM_ATPT_CPTD_CD   object
 12  LAW_CAT_CD         object
 13  BORO_NM            object
 14  LOC_OF_OCCUR_DESC  object
 15  PREM_TYP_DESC      object
 16  JURIS_DESC         object
 17  JURISDICTION_CODE  int64
 18  PARKS_NM           object
 19  HADEVELOPT         object
 20  HOUSING_PSA        object
 21  X_COORD_CD         float64
 22  Y_COORD_CD         float64
 23  SUSP_AGE_GROUP     object
 24  SUSP_RACE          object
 25  SUSP_SEX           object
 26  TRANSIT_DISTRICT   float64
 27  Latitude           float64
 28  Longitude          float64
 29  Lat_Lon            object
 30  PATROL_BORO        object
 31  STATION_NAME       object
 32  VIC_AGE_GROUP      object
 33  VIC_RACE           object
 34  VIC_SEX            object
dtypes: float64(7), int64(2), object(26)
memory usage: 2.3+ GB
None

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,25640826H10611,12/05/2006,10:38:00,NaN,(null),NaN,12/05/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO QUEENS NORTH,(null),25-44,WHITE HISPANIC,M
1,16631501H8965,08/25/1973,12:15:00,NaN,(null),NaN,05/29/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO MAN NORTH,(null),45-64,BLACK,F
2,11118212H8714,04/22/2006,16:50:00,NaN,(null),NaN,04/22/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO BKLYN SOUTH,(null),45-64,BLACK,M
3,23471265H9399,07/20/2006,22:37:00,NaN,(null),NaN,07/20/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO BKLYN SOUTH,(null),18-24,BLACK,M
4,24565927H10142,04/14/2006,02:37:00,NaN,(null),NaN,04/14/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO BKLYN NORTH,(null),45-64,BLACK,M

### Unify format of column names

In [10]:
from my_fcts import format_columns
format_columns(crime_frame)

### Transform dtypes

In [11]:
# Transform report_date from object to datetime
crime_frame.rpt_dt = pd.to_datetime(crime_frame['rpt_dt'], format="%m/%d/%Y")

In [12]:
crime_frame.rpt_dt.max()

Timestamp('2023-12-31 00:00:00')

### Transform (null) into NaN values

In [13]:
crime_frame.replace('(null)', np.nan, inplace=True)

### Check NaN values

In [14]:
from my_fcts import check_nan
check_nan(crime_frame)

'cmplnt_fr_dt' has 655 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['cmplnt_fr_dt'], inplace=True)'
'cmplnt_fr_tm' has 48 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['cmplnt_fr_tm'], inplace=True)'
'cmplnt_to_dt' has 1818958 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['cmplnt_to_dt'], inplace=True)'
'cmplnt_to_tm' has 1813518 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['cmplnt_to_tm'], inplace=True)'
'addr_pct_cd' has 771 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['addr_pct_cd'], inplace=True)'
'ofns_desc' has 18886 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['ofns_desc'], inplace=True)'
'pd_cd' has 7593 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['pd_cd'], inplace=True)'
'pd_desc' has 7593 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['pd_desc'], inplace=True)'
'crm_atpt_cptd_cd' has 168 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['crm_atpt_cptd_cd'], inplace=True)'
'boro_nm' has 7884 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['boro_nm'], inplace=True)'
'loc_of_occur_desc' has 1821966 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['loc_of_occur_desc'], inplace=True)'
'prem_typ_desc' has 39001 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['prem_typ_desc'], inplace=True)'
'parks_nm' has 8877278 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['parks_nm'], inplace=True)'
'hadevelopt' has 8883190 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['hadevelopt'], inplace=True)'
'housing_psa' has 8244451 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['housing_psa'], inplace=True)'
'x_coord_cd' has 466 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['x_coord_cd'], inplace=True)'
'y_coord_cd' has 466 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['y_coord_cd'], inplace=True)'
'susp_age_group' has 4583671 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['susp_age_group'], inplace=True)'
'susp_race' has 3687178 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['susp_race'], inplace=True)'
'susp_sex' has 3820549 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['susp_sex'], inplace=True)'
'transit_district' has 8716793 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['transit_district'], inplace=True)'
'latitude' has 466 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['latitude'], inplace=True)'
'longitude' has 466 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['longitude'], inplace=True)'
'lat_lon' has 466 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['lat_lon'], inplace=True)'
'patrol_boro' has 587 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['patrol_boro'], inplace=True)'
'station_name' has 8716793 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['station_name'], inplace=True)'
'vic_age_group' has 1623568 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['vic_age_group'], inplace=True)'
'vic_race' has 671 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['vic_race'], inplace=True)'
'vic_sex' has 308 missing values.
To drop the rows use:
'YOUR_DF.dropna(subset=['vic_sex'], inplace=True)'

### Dropping rows

In [15]:
crime_drop = crime_frame.dropna(subset=[ 'x_coord_cd', 
                            'y_coord_cd', 
                            'latitude', 
                            'longitude', 
                            'lat_lon',
                            'addr_pct_cd',
                            'ofns_desc' ,
                            'boro_nm',
                            'prem_typ_desc'], inplace=False)

### Dropping columns

In [16]:
crime_clean = crime_drop.drop([  'pd_cd',
                    'pd_desc',
                    'transit_district',
                    'cmplnt_fr_dt',
                    'cmplnt_to_dt',
                    'cmplnt_fr_tm',
                    'cmplnt_to_tm',
                    'ky_cd',
                    'loc_of_occur_desc',
                    'station_name',
                    'patrol_boro',
                    'housing_psa',
                    'hadevelopt',
                    'parks_nm',
                    'crm_atpt_cptd_cd',
                    'x_coord_cd',
                    'y_coord_cd',
                    'lat_lon',
                    'jurisdiction_code',
                    'addr_pct_cd'], axis=1, inplace=False)

In [17]:
crime_clean.reset_index(inplace=True, drop=True)

### Renaming of columns

In [18]:
# Create dictionary of columns to be used
column_dict = {
                'cmplnt_num': 'complaint_id',
                'rpt_dt': 'report_date',
                'ofns_desc': 'offense',
                'law_cat_cd': 'crime_type',
                'boro_nm': 'borough',
                'prem_typ_desc': 'incident_location',
                'juris_desc': 'jurisdiction',
                'susp_age_group': 'sus_age_group',
                'susp_race': 'sus_race',
                'susp_sex': 'sus_sex',
                'latitude': 'latitude',
                'longitude': 'longitude',
                'vic_age_group': 'vic_age_group',
                'vic_race': 'vic_race',
                'vic_sex': 'vic_sex'
}

# Rename columns according to column_dict
crime_clean.rename(column_dict, axis=1, inplace=True)

### Map values for better readability

In [19]:
# Create dict of suspects sex and map them to actual values
sus_sex_dict = {
                'F': 'Female',
                'M': 'Male',
                'U': 'Unknown'
}

crime_clean.sus_sex = crime_clean.sus_sex.map(sus_sex_dict)

# Create dict of victims sex and map them to actual values
sus_race_dict = {
                        'F': 'Female',
                        'M': 'Male',
                        'U': 'Unknown',
                        'D': 'Business',
                        'E': 'PSNY',
                        'L': 'Unknown'
}

crime_clean.sus_race = crime_clean.sus_race.map(sus_race_dict)


# Create dict of suspects race and map them to actual values
race_dict = {
        'Nan': 'Unknown',
        'Black': 'Black',
        'Unknown': 'Unknown',
        'White hispanic': 'Hispanic',
        'White': 'White',
        'Black hispanic': 'Hispanic',
        'Asian / pacific islander': 'Asian',
        'American indian/alaskan native': 'Native American',
        'Other': 'Unknown'                  
}

crime_clean.sus_race = crime_clean.sus_race.map(race_dict)
crime_clean.vic_race = crime_clean.vic_race.map(race_dict)

### Capitalize values for better readability

In [21]:
columns_to_capitalize = [2,3,4,5,6,8,13]
crime_clean.iloc[:,columns_to_capitalize] = crime_clean.iloc[:,columns_to_capitalize].applymap(lambda x: str(x).capitalize())

/var/folders/nj/j2fgh2k95cq716x6zcd11chc0000gn/T/ipykernel_16296/2754242120.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  crime_clean.iloc[:,columns_to_capitalize] = crime_clean.iloc[:,columns_to_capitalize].applymap(lambda x: str(x).capitalize())

### Sorting by date from earliest to most recent

In [22]:
crime_clean.sort_values(by='report_date', inplace=True)
crime_clean.reset_index(drop=True, inplace=True)

### Check for duplicates

In [ ]:
check_def_col = crime_clean[crime_clean.duplicated(subset=['complaint_id'],keep=False)] 
check_def_col

### Dropping the duplicates

In [23]:
crime_clean.drop_duplicates('complaint_id',inplace=True)
crime_clean.reset_index(drop=True, inplace=True)

### Create a csv file from data frame

In [ ]:
crime_clean.to_csv('Crime_Data.csv', index=False)

# Import functions to push data frame to SQL database

### Get data for database connection

### Push data frame to SQL database

In [29]:
# Import get_engine function from my_fcts.py and set it to a variable called engine

from sql_functions import get_engine
engine = get_engine()

{'host': 'data-analytics-course-2.c8g8r1deus2v.eu-central-1.rds.amazonaws.com', 'port': '5432', 'database': 'postgres', 'user': 'patrickschaefer', 'password': 'M1nCrFUB3f0VubAT'}
Engine(postgresql://user:***@host/database)

In [26]:
schema = 'capstone_crime_nerds'
table_name = 'crime_data'

In [27]:
import psycopg2

In [28]:
# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        crime_clean.to_sql(table_name,          # Name of SQL table
                        con=engine,             # Engine or connection
                        if_exists='replace',    # Drop the table before inserting new values 
                        schema=schema,          # your class schema
                        index=False,            # Write DataFrame index as a column
                        chunksize=5000,         # Specify the number of rows in each batch to be written at a time
                        method='multi')         # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

you can't specify both 'database' and 'dbname' arguments