# Crime Data

## Unemployment Data

Insert Data from the Excel File

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
unemployed = pd.read_excel('./Data/Unemployment_NYC.xlsx',sheet_name=0)

In [27]:
# converting headers to lowercase:
unemployed.columns = unemployed.columns.str.lower()
unemployed.columns = unemployed.columns.str.strip()

In [28]:
unemployed.head()

  areatype           area  year  month  laborforce     emp  unemp  unemprate
0   County  Albany County  2024      1      158900  153000   6000        3.8
1   County  Albany County  2024      2      159300  153200   6100        3.8
2   County  Albany County  2024      3      158700  152900   5800        3.6
3   County  Albany County  2023      0      160600  155300   5300        3.3
4   County  Albany County  2023      1      157700  152200   5400        3.5

In [29]:
unemployed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27590 entries, 0 to 27589
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   areatype    27590 non-null  object
 1   area        27590 non-null  object
 2   year        27590 non-null  int64
 3   month       27590 non-null  int64
 4   laborforce  27590 non-null  int64
 5   emp         27590 non-null  int64
 6   unemp       27590 non-null  int64
 7   unemprate   27590 non-null  float64
dtypes: float64(1), int64(5), object(2)
memory usage: 1.7+ MB

### Filter the data
for the 5 boroughs: Bronx, Kings, New York, Queens, Richmond are the official names for the boroughs

In [30]:
unemployed['areatype'].unique()

array(['County'], dtype=object)

In [31]:
unemployed['area'].unique()

array(['Albany County', 'Allegany County', 'Bronx County',
       'Broome County', 'Cattaraugus County', 'Cayuga County',
       'Chautauqua County', 'Chemung County', 'Chenango County',
       'Clinton County', 'Columbia County', 'Cortland County',
       'Delaware County', 'Dutchess County', 'Erie County',
       'Essex County', 'Franklin County', 'Fulton County',
       'Genesee County', 'Greene County', 'Hamilton County',
       'Herkimer County', 'Jefferson County', 'Kings County',
       'Lewis County', 'Livingston County', 'Madison County',
       'Monroe County', 'Montgomery County', 'Nassau County',
       'New York County', 'Niagara County', 'Oneida County',
       'Onondaga County', 'Ontario County', 'Orange County',
       'Orleans County', 'Oswego County', 'Otsego County',
       'Putnam County', 'Queens County', 'Rensselaer County',
       'Richmond County', 'Rockland County', 'Saratoga County',
       'Schenectady County', 'Schoharie County', 'Schuyler County',
       'Seneca County', 'St. Lawrence County', 'Steuben County',
       'Suffolk County', 'Sullivan County', 'Tioga County',
       'Tompkins County', 'Ulster County', 'Warren County',
       'Washington County', 'Wayne County', 'Westchester County',
       'Wyoming County', 'Yates County'], dtype=object)

In [32]:
borough = ['Bronx County', 'Kings County', 'New York County', 'Queens County', 'Richmond County']
borough_unem = unemployed.loc[unemployed['area'].isin(borough)]
borough_unem.head()

    areatype          area  year  month  laborforce     emp  unemp  unemprate
890   County  Bronx County  2024      1      603800  567500  36300        6.0
891   County  Bronx County  2024      2      611800  573800  38000        6.2
892   County  Bronx County  2024      3      613000  577900  35100        5.7
893   County  Bronx County  2023      0      607900  566400  41500        6.8
894   County  Bronx County  2023      1      607200  561500  45700        7.5

In [33]:
borough_unem.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2225 entries, 890 to 19134
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   areatype    2225 non-null   object
 1   area        2225 non-null   object
 2   year        2225 non-null   int64
 3   month       2225 non-null   int64
 4   laborforce  2225 non-null   int64
 5   emp         2225 non-null   int64
 6   unemp       2225 non-null   int64
 7   unemprate   2225 non-null   float64
dtypes: float64(1), int64(5), object(2)
memory usage: 156.4+ KB

In [34]:
borough_unem['avg_year']= borough_unem['month']==0
borough_unem.head()

/var/folders/mc/1x4q7cs53knf6dvx4qb6jlg80000gn/T/ipykernel_1637/3479947575.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  borough_unem['avg_year']= borough_unem['month']==0

,areatype,area,year,month,laborforce,emp,unemp,unemprate,avg_year
890,County,Bronx County,2024,1,603800,567500,36300,6.0,False
891,County,Bronx County,2024,2,611800,573800,38000,6.2,False
892,County,Bronx County,2024,3,613000,577900,35100,5.7,False
893,County,Bronx County,2023,0,607900,566400,41500,6.8,True
894,County,Bronx County,2023,1,607200,561500,45700,7.5,False

In [35]:
borough_unem['avg_year'].unique()

array([False,  True])

### Creating df with only avg yearly and with only monthly data.

In [37]:
bo_unem_yearly = borough_unem.loc[borough_unem['avg_year'] == True]
bo_unem_yearly.head()

,areatype,area,year,month,laborforce,emp,unemp,unemprate,avg_year
893,County,Bronx County,2023,0,607900,566400,41500,6.8,True
906,County,Bronx County,2022,0,603400,555800,47600,7.9,True
919,County,Bronx County,2021,0,614100,529000,85200,13.9,True
932,County,Bronx County,2020,0,613100,514900,98200,16.0,True
945,County,Bronx County,2019,0,624300,590700,33600,5.4,True

In [38]:
bo_unem_yearly.info()

<class 'pandas.core.frame.DataFrame'>
Index: 170 entries, 893 to 19122
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   areatype    170 non-null    object
 1   area        170 non-null    object
 2   year        170 non-null    int64
 3   month       170 non-null    int64
 4   laborforce  170 non-null    int64
 5   emp         170 non-null    int64
 6   unemp       170 non-null    int64
 7   unemprate   170 non-null    float64
 8   avg_year    170 non-null    bool
dtypes: bool(1), float64(1), int64(5), object(2)
memory usage: 12.1+ KB

In [39]:
bo_unem_monthly = borough_unem.loc[borough_unem['avg_year'] == False]
bo_unem_monthly.head()

,areatype,area,year,month,laborforce,emp,unemp,unemprate,avg_year
890,County,Bronx County,2024,1,603800,567500,36300,6.0,False
891,County,Bronx County,2024,2,611800,573800,38000,6.2,False
892,County,Bronx County,2024,3,613000,577900,35100,5.7,False
894,County,Bronx County,2023,1,607200,561500,45700,7.5,False
895,County,Bronx County,2023,2,612800,566900,45900,7.5,False

In [40]:
# Resetting Index:
bo_unem_yearly.reset_index(inplace=True)
bo_unem_yearly
bo_unem_yearly.head()

,index,areatype,area,year,month,laborforce,emp,unemp,unemprate,avg_year
0,893,County,Bronx County,2023,0,607900,566400,41500,6.8,True
1,906,County,Bronx County,2022,0,603400,555800,47600,7.9,True
2,919,County,Bronx County,2021,0,614100,529000,85200,13.9,True
3,932,County,Bronx County,2020,0,613100,514900,98200,16.0,True
4,945,County,Bronx County,2019,0,624300,590700,33600,5.4,True